<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LottaUpload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <LottaUpload.Properties.Settings>
            <setting name="BaseUserNames" serializeAs="String">
                <value>FFFF</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="ClientUrl" serializeAs="String">
                <value>https://wozu.qa.exeterlms.com/</value>
            </setting>
            <setting name="NameOfFile" serializeAs="String">
                <value>3KzipFile.zip</value>
            </setting>
            <setting name="UserStartCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserStopCount" serializeAs="String">
                <value>10</value>
            </setting>
        </LottaUpload.Properties.Settings>
    </applicationSettings>
</configuration>