<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UploadRepetitive.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <UploadRepetitive.Properties.Settings>
            <setting name="CycleCount" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TestName" serializeAs="String">
                <value>Repetitively</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Me</value>
            </setting>
            <setting name="CourseName" serializeAs="String">
                <value>ZQATest23</value>
            </setting>
            <setting name="UserPassWord" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="LogPath" serializeAs="String">
                <value>C:\ZLogZ\</value>
            </setting>
            <setting name="ClientWOZ" serializeAs="String">
                <value>https://wozu.qa.exeterlms.com/</value>
            </setting>
        </UploadRepetitive.Properties.Settings>
    </applicationSettings>
</configuration>